* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #e6e6e6;
  --color-hover: #adacac;
  --clolor-btn-num: #fafafa;
  --color-btn-other: #f0f0f0;
}
html,
body {
  max-height: 100%;
  width: 100%;
  /* font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif; */
}
.container {
  width: 100%;
  height: 100vh;
  display: grid;
  min-height: 410px;
  min-width: 440px;
  grid-template-columns: 77% 23%;
  grid-template-rows: 6% 7% 20% 7%;
  background-color: var(--color-primary);
  grid-template-areas:
    "header   header"
    "navbar   right-side"
    "zero     right-side"
    "memory-btn   right-side"
    "btn-area    right-side";
}
/* header */
.header {
  grid-area: header;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.Calculator {
  font-size: 15px;
  /* font-weight: 500px; */
  padding-top: 7px;
  padding-left: 10px;
  margin-bottom: 15px;
  font-weight: lighter;
  color: #000000;
}
.header-btn {
  display: flex;
  flex-flow: row-reverse nowrap;
}
.btn-header1 {
  font-size: 8px;
  font-weight: 400;
  justify-content: center;
  padding: 7px 15px 3px 15px;
  justify-items: center;
}
.btn-header1:hover {
  background-color: rgb(234, 98, 98);
}
.btn-header2 {
  justify-content: center;
  justify-items: center;
  padding: 7px 15px 3px 15px;
}
.btn-header2:hover {
  background-color: var(--color-hover);
}
.restoreup {
  width: 14px;
  height: 14px;
}
.btn-header3 {
  justify-content: center;
  justify-items: center;
  padding: 7px 15px 3px 15px;
}
.btn-header3:hover {
  background-color: var(--color-hover);
}

.btn-header4 {
  justify-content: center;
  justify-items: center;
  padding: 7px 15px 3px 15px;
}
.btn-header4:hover {
  background-color: var(--color-hover);
}
/* header */
/* navbar */
.navbar {
  grid-area: navbar;
  display: flex;
  flex-direction: row nowrap;
  gap: 15px;
  align-items: center;
}
.menu-hamberger {
  padding: 10px 10px 12px 10px;
  justify-content: center;
  justify-items: center;
  width: 40px;
  height: 40px;
}
.menu-hamberger:hover {
  background-color: var(--color-hover);
}
.Standard {
  font-size: 14px;
}

.minus {
  width: 12px;
}
.restore {
  width: 13px;
}
.keep-btn {
  padding: 10px 10px 12px 10px;
  justify-content: center;
  align-items: center;
}
.keep-btn:hover {
  background-color: var(--color-hover);
}
.keep-btn-img {
  width: 20px;
  height: 19px;
}
/* navbar */
/* zero */
.zero {
  grid-area: zero;
  display: flex;
  flex-direction: row nowrap;
  direction: rtl;
}
.zero-right {
  font-size: 40px;
  font-weight: 500;
  padding-top: 20px;
  margin-right: 20px;
}
/* zero */
/* memory-btn */
.memory-btn {
  grid-area: memory-btn;
  display: flex;
  flex-direction: row nowrap;
  align-items: flex-end;
  width: 100%;
}

.memory-btn-style {
  padding: 10px 30px 10px 30px;
  margin: 5px 0 0 0;
  font-weight: 900;
  font-size: 12px;
}

.memory-btn1,
.memory-btn2 {
  color: #9b9a9a;
}
.memory-btn3:hover,
.memory-btn4:hover,
.memory-btn5:hover {
  background-color: var(--color-hover);
}
.memory-btn6 {
  display: none;
  color: #9b9a9a;
}

/* memory-btn */
/* btn-area */
.btn-area {
  grid-area: btn-area;
  display: grid;
  gap: 2px 2px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
}
.btn-area div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-area div:hover {
  background-color: var(--color-hover);
  animation-delay: 0.5s;
}
.btn-number {
  background-color: var(--clolor-btn-num);
  font-size: 20px;
  font-weight: 400;
}
.radical,
.x-resize {
  font-weight: 400;
  font-size: 10px;
  width: 20px;
}
.x-resize {
  width: 20px;
}
.btn-clean {
  font-size: 18px;
  font-weight: 400;
}
.dot {
  font-weight: 500;
  width: 300px;
  font-size: 33px;
}
.btn-img {
  background-color: var(--color-btn-other);
}
/* btn-area */
/* right-side */
.right-side {
  grid-area: right-side;
}
.right-side-header {
  display: flex;
  gap: 15px;
  font-size: 14px;
}
.history-text {
  border-bottom: 3px solid rgb(61, 128, 210);
}
.r-text {
  padding-top: 25px;
}
.history-text:hover,
.memory-text:hover {
  color: var(--color-hover);
}
/* right-side */
/* media */
@media (max-width: 1280px) {
  .btn-header2 {
    display: none;
    outline: none;
    border: none;
  }
  .btn-header3 {
    display: header;
  }
}
@media (min-width: 1280px) {
  .btn-header3 {
    display: none;
  }
  .btn-header2 {
    display: flex;
  }
}
@media (max-width: 451px) {
  .right-side {
    display: none;
  }
  .btn-area {
    width: 100%;
  }
  .container {
    grid-template-areas:
      "header   header"
      "navbar   navar"
      "zero     zero"
      "memory-btn  memory-btn "
      "btn-area   btn-area ";
  }
  .memory-btn-style {
    width: 100%;
    padding: 10px 15px 8px 15px;
  }
}
/* @media (max-width: 1022px) {
  .btn-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
} */
